<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myController">
    <div class="container mt-5">
        <h1 class="text-center">Tính BMI</h1>
        <div class="row mt-5">
            <div class="col-sm-6 offset-sm-3">
                <form>
                    <div class="form-group">
                        <label for="weight">Nhập cân nặng (kg):</label>
                        <input type="number" class="form-control" id="weight" ng-model="w" ng-change="calculateBMI()">
                    </div>
                    <div class="form-group">
                        <label for="height">Nhập chiều cao (cm):</label>
                        <input type="number" class="form-control" id="height" ng-model="h" ng-change="calculateBMI()">
                    </div>
                    <div class="form-group">
                        <label for="age">nhập tuổi: </label>
                        <input type="number" class="form-control" id="age" ng-model="age" ng-change="bodyFat()">
                    </div>
                    <div class="form-group">
                        <label for="gender">Giới tính: </label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="male" value="male"
                                ng-model="gen" ng-change="bodyFat()">
                            <label class="form-check-label" for="male">Nam</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="female" value="female"
                                ng-model="gen" ng-change="bodyFat()">
                            <label class="form-check-label" for="female">Nữ</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="factor">mức độ hoạt động: </label>
                        <select name="" id="" ng-model="f" ng-change="totalDaily()">
                            <option value="less">Rất ít hoạt động</option>
                            <option value="moderate">Hoạt động vừa phải</option>
                            <option value="more">Hoạt động nhiều</option>
                            <option value="very">Rất nhiều hoạt động</option>
                            <option value="super">Hoạt động chuyên nghiệp</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="bmi">BMI:</label>
                        <input type="text" class="form-control" id="bmi" ng-model="bmi" disabled>
                    </div>
                    <div class="form-group">
                        <label for="bdf">% Bodyfat:</label>
                        <input type="text" class="form-control" id="bdf" ng-model="bdf" disabled>
                    </div>
                    <div class="form-group">
                        <label for="tdee">TDEE: (kCal)</label>
                        <input type="text" class="form-control" id="tdee" ng-model="tdee" disabled>
                    </div>
                    <div class="form-group">
                        <label for="">tình trạng: </label>
                        <input type="text" class="form-control" id="" ng-model="status" disabled>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        let app = angular.module('myApp', []);
        app.controller('myController', function ($scope) {
            $scope.w = 100;
            $scope.h = 178;
            $scope.gen = "male"; // gán giới tính mặc định
            $scope.age = 26;

            $scope.calculateBMI = function () {
                $scope.h1 = $scope.h / 100;
                $scope.bmi = $scope.w / ($scope.h1 * $scope.h1);
                $scope.bodyFat(); // gọi hàm bodyFat khi giá trị bmi được tính
                if ($scope.bmi >= 40) {
                    $scope.status = "béo phì độ III";
                }
                else if ($scope.bmi >= 35 && $scope.bmi < 39.9) {
                    $scope.status = "béo phì độ II";
                }
                else if ($scope.bmi >= 30 && $scope.bmi < 34.9) {
                    $scope.status = "béo phì độ I";
                }
                else if ($scope.bmi >= 25 && $scope.bmi < 29.9) {
                    $scope.status = "tiền béo phì";
                }
                else if ($scope.bmi >= 25) {
                    $scope.status = "thừa cân";
                }
                else if ($scope.bmi >= 18.5 && $scope.bmi < 24.9) {
                    $scope.status = "bình thường";
                }
                else {
                    $scope.status = "gầy"
                }
            };

            $scope.bodyFat = function () {
                if ($scope.gen === "male") {
                    $scope.bdf = (1.2 * $scope.bmi) + (0.23 * $scope.age) - 10.8 - 5.4;
                    $scope.bmr = 66 + (13.7 * $scope.w) + (5 * $scope.h) - 6.8 * $scope.age;
                }
                else if ($scope.gen === "female") {
                    $scope.bdf = (1.2 * $scope.bmi) + (0.23 * $scope.age) - 5.4;
                    $scope.bmr = 655 + (9.6 * $scope.w) + (1.8 * $scope.h) - 4.7 * $scope.age;
                }
                $scope.totalDaily(); //gọi hàm totalDaily() khi giá trị bmr được tính
            };

            $scope.totalDaily = function () {
                if ($scope.f === "less") {
                    $scope.tdee = $scope.bmr * 1.2;
                }
                else if ($scope.f === "moderate") {
                    $scope.tdee = $scope.bmr * 1.375;
                }
                else if ($scope.f === "more") {
                    $scope.tdee = $scope.bmr * 1.55;
                }
                else if ($scope.f === "very") {
                    $scope.tdee = $scope.bmr * 1.725;
                }
                else {
                    $scope.tdee = $scope.bmr * 1.9;
                }
            };
        });

    </script>
</body>

</html>